.login-page {
   border-radius: 40px;
   padding: 40px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 30px;
   font-family: 'Rounded Mplus 1c', sans-serif !important;
   position: absolute;
   top: 32%;
   left: 50%;
   transform: translate(-50%);
}

.login-page__title {
   font-family: 'Rounded Mplus 1c', sans-serif !important;
   text-transform: uppercase;
   letter-spacing: 10px;
   font-size: 40px;
   font-weight: 300;
   color: #fff;
}

.login-forma {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 25px;
}

.login-text {
   width: 300px;
   text-align: center;
   font-size: 16px;
}

.register {
   text-decoration: underline;
   color: #6200EE;
}