.css-wsz17y-MuiDrawer-docked {
   width: 250px !important;
}

/* .css-gr4hu4-MuiPaper-root-MuiAppBar-root {
   background: hsl(0, 0%, 11.8%) !important;
} */


.css-wsz17y-MuiDrawer-docked .MuiDrawer-paper {
   width: 250px !important;
}